[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytesseract = "*"
opencv-contrib-python = "*"
certifi = "*"
Click = "*"
flask = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
numpy = "*"
werkzeug = "0.15.3"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
